<h4>Informations pratiques</h4>

<h5>Information trafic en temps réel</h5>
<p>Voici les liens pour consulter les informations en temps réel pour la RATP et la SNCF</p>
<ul>
    <li><a href="http://www.ratp.fr/en/information">Infos Trafic RATP</a></li>
    <li><a href="https://en.oui.sncf/en/train/strike">Infos Trafic SNCF</a></li>
    <li>Application / Web : <a href="https://www.oui.sncf/">https://www.oui.sncf/</a></li>
</ul>

<h5>Pour rejoindre Paris</h5>

<p>Voici une liste de transports alternatifs afin de vous rendre à Paris.</p>
<p>Nous souhaitons vous mettre en garde sur le fait que les routes risquent d’être encombrées. </p>

<p><b>Covoiturage 🚗</b></p>
<p>
    Nous avons mis en place une plateforme de covoiturage Togetzer sur laquelle vous pouvez proposer ou demander un
    trajet afin de permettre l'entraide entre participants : 
    <a href="https://www.togetzer.com/covoiturage-evenement/5mvtun">Togetzer FlowCon19</a>
</p>
<ul>
    <li><a href="https://www.vianavigo.com/en/home" target="_blank">Platforme Vianavigo</a></li>
    <li><a href="https://www.blablacar.fr/" target="_blank">Blablacar</a></li>
    <li><a href="https://www.getaround.com/" target="_blank">Getaround</a></li>
</ul>

<p>Bus 🚌</p>
<ul>
    <li><a href="https://www.flixbus.fr/" target="_blank">Flixbus</a></li>
    <li><a href="https://www.eurolines.eu/" target="_blank">Eurolines</a></li>
    <li><a href="https://www.blablacar.fr/bus" target="_blank">BlablaBus</a></li>
</ul>

<h5>Pour vous déplacer dans Paris</h5>
<p><b>Taxis et VTC 🚕</b></p>
<ul>
    <li><a href="https://www.kapten.com/" target="_blank">Kapten</a> (ex Chauffeur privé)</li>
    <li><a href="https://www.marcel.cab/" target="_blank">Marcel</a></li>
    <li><a href="https://www.uber.com/global/en/cities/paris/" target="_blank">Uber</a></li>
    <li><a href="https://bolt.eu/en/cities/paris" target="_blank">Bolt</a></li>
    <li><a href="https://www.g7.fr/en/" target="_blank">Taxi G7</a></li>
    <li><a href="https://en.lecab.fr/" target="_blank">leCab</a></li>
    <li><a href="https://www.allocab.com/" target="_blank">Allocab</a></li>
</ul>

<p><b>Vélo libre service 🚲</b></p>
<ul>
    <li><a href="https://www.velib-metropole.fr/">Vélib'</a> : Paris disposed' un programme de vélo en libre-service (Ce service nécessite une carte de crédit)</li>    
    <li><a href="https://www.jump.com/fr/fr/cities/paris/">JUMP</a></li>    
    <li><a href="https://mobike.com/fr/">Mobike</a></li>    
</ul>

<p><b>Trotinette électrique 🛴</b></p>
<ul>
    <li><a href="https://www.li.me/electric-scooter">LIME</a></li>    
    <li><a href="https://www.jump.com/fr/fr/cities/paris/">JUMP</a></li>
    <li><a href="https://www.bird.co/?lang=fr">BIRD</a></li>
    <li><a href="https://ridedott.com/">DOTT</a></li>
</ul>

<p><b>Scooter électrique 🛵</b></p>
<ul>
    <li><a href="https://www.cityscoot.eu/paris/">Cityscoot</a></li>    
</ul>

<p>Nous sommes à votre disposition si vous avez la moindre question.</p>